.App {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.top-rails {
  margin: 0 auto;
}

.top-rail-img {
  max-width: 600px;
}

.crown-rail {
  margin: 0 auto;
}

.crown-rail-img {
  max-width: 600px;
}

.flat-cap {
  margin: 0 auto;
}

.flat-cap-img {
  max-width: 600px;
}

.fence {
  margin: 0 auto;
}

.fence-img {
  max-width: 600px;
}

.iron-baluster {
  margin: 0 auto;
}

.iron-baluster-img {
  max-width: 468px;
}

.iron-post {
  margin: 0 auto;
}

.iron-post-img {
  max-width: 600px;
}

.iron-rail {
  margin: 0 auto;
}

.iron-rail-img {
  max-width: 600px;
}

.pyramid-cap {
  margin: 0 auto;
}

.pyramid-cap-img {
  max-width: 612px;
}

.short-post {
  margin: 0 auto;
}

.short-post-img {
  max-width: 600px;
}

.skirt {
  margin: 0 auto;
}

.skirt-img {
  max-width: 600px;
}

.tall-post {
  margin: 0 auto;
}

.tall-post-img {
  max-width: 600px;
}

.baluster {
  margin: 0 auto;
}

.baluster-img {
  max-width: 466px;
}

.rail {
  margin: 0 auto;
}

.rail-img {
  max-width: 466px;
}

.deck-border {
  margin: 0 auto;
}

.deck-border-img {
  max-width: 800px;
}

.deck {
  margin: 0 auto;
}

.deck-img {
  max-width: 800px;
}
