.color {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(107, 107, 107);
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
}

.color:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.choose-color {
  margin-top: 219px;
  margin-left: -791px;
}

.logo {
  max-width: 140px;
  height: 140px;
  margin-right: -150px;
  margin-left: 50px;
}

.legend {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
}

.legend-item {
  margin: 0px 9.5px;
  width: 104px;
}

.legend-item2 {
  margin: 0px 10px;
  width: 119px;
}

.legend-item3 {
  margin: 0px 79px;
  width: 119px;
}

.legend-item4 {
  margin: 0px 20px;
  width: 119px;
}

.legend-item5 {
  margin: 0px 51px;
  width: 119px;
}

.block {
  margin: 4px 15px 0px 15px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tab-panel {
  display: flex;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 110px;
  z-index: 10;
}

.name {
  font-size: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60px;
}

.tabs-list {
  margin-top: -217px;
}

.fence-container {
  height: 500px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

.trex {
  position: absolute;
  margin-left: -91px;
  margin-top: -3px;
  z-index: 1;
}

.iron {
  position: absolute;
  z-index: 1;
  margin-left: -89px;
  margin-top: -3px;
}

.one {
  position: absolute;
  z-index: 2;
  margin-top: -15px;
  margin-left: -126.5px;
}

.two {
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -106px;
}

.crown {
  position: absolute;
  margin-left: -106.5px;
  margin-top: -10px;
  z-index: -5;
}

.fence-border {
  position: absolute;
  margin-top: 85px;
  margin-left: -322px;
  z-index: 1;
}

.deck {
  position: absolute;
  margin-left: -271px;
  margin-top: 100px;
  z-index: 1;
}

.short-post {
  margin-top: -15px;
  position: absolute;
  margin-left: -126px;
  z-index: 2;
}

.tall-post {
  margin-top: -24px;
  position: absolute;
}

.iron-posts {
  margin-top: -26px;
  margin-left: -120px;
  position: absolute;
  z-index: 3;
}

.fascia {
  position: absolute;
  margin-top: 253px;
  margin-left: -321.5px;
  z-index: 1;
}

.skirt {
  position: absolute;
  margin-left: -128px;
  margin-top: 149px;
  z-index: 3;
}

.rail {
  position: absolute;
  margin-left: -106px;
  margin-top: -10px;
  z-index: 2;
}

.pyramid {
  position: absolute;
  margin-left: -129px;
  margin-top: -28px;
  z-index: 2;
}

.none {
  display: none;
}

.flat {
  position: absolute;
  margin-left: -129px;
  margin-top: -24px;
  z-index: 2;
}

.options {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.option-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.option-title {
  padding: 10px;
  width: 150px;
  align-content: flex-start;
  display: flex;
}

.option {
  border: 1px solid green;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top-section {
  display: flex;
  margin-bottom: -330px;
  padding-top: 15px;
}

.fence-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  z-index: 20;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  width: 116px;
  list-style: none;
  padding: 6px 6px;
  cursor: pointer;
  z-index: 20;
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  box-shadow: 0 0 5px #106c1a;
  border-color: #106c1a;
  outline: none;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #106c1a;
  border-color: #106c1a;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  z-index: 20;
}
