.color {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(107, 107, 107);
  transition: all 0.2s ease-in-out;
  margin-bottom: 3px;
}

.legend-nums {
  z-index: 10;
}

.legend-num-1 {
  position: relative;
  right: 140px;
  bottom: 27px;
}

.legend-num-2 {
  position: relative;
  top: 20px;
  right: 138px;
}

.legend-num-3 {
  z-index: 10;
  position: relative;
  bottom: 76px;
  right: 113px;
}

.legend-num-4 {
  position: relative;
  z-index: 10;
  right: 108px;
}

.legend-num-5 {
  position: relative;
  z-index: 10;
  left: 229px;
  bottom: 144px;
}

.legend-num-6 {
  position: relative;
  z-index: 10;
  right: 147px;
  top: 30px;
}

.legend-num-7 {
  position: relative;
  z-index: 10;
  right: 207px;
  top: 40px;
}

.legend-num-8 {
  position: relative;
  z-index: 10;
  right: 265px;
  top: 105px;
}

.legend-num-9 {
  position: relative;
  z-index: 10;
  bottom: 104px;
  right: 145px;
}

.color:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.color-swatch {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(107, 107, 107);
  transition: all 0.2s ease-in-out;
}

.summary-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.container {
  max-width: 2000px;
  margin-left: 70px;
}

.logo {
  max-width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: -70px;
}

.legend {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
}

.legend-item {
  margin: 0px 9.5px;
  width: 109px;
}

.legend-item2 {
  margin: 0px 10px;
  width: 124px;
}

.legend-item3 {
  margin: 0px 79px;
  width: 124px;
}

.legend-item4 {
  margin: 0px 20px;
  width: 124px;
}

.legend-item5 {
  margin: 0px 51px;
  width: 124px;
}

.block {
  margin: 4px 15px 0px 15px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tab-panel {
  display: flex;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 110px;
  z-index: 10;
}

.name {
  font-size: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
}

.name-bold {
  font-size: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
  font-weight: bold;
}

.fence-container {
  height: 500px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

.trex {
  position: absolute;
  margin-left: -91px;
  margin-top: -3px;
  z-index: 1;
}

.iron {
  position: absolute;
  z-index: 1;
  margin-left: -89px;
  margin-top: -3px;
}

.one {
  position: absolute;
  z-index: 2;
  margin-top: -15px;
  margin-left: -126.5px;
}

.two {
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -106px;
}

.crown {
  position: absolute;
  margin-left: -106.5px;
  margin-top: -10px;
  z-index: -5;
}

.fence-border {
  position: absolute;
  margin-top: 85px;
  margin-left: -322px;
  z-index: 1;
}

.deck {
  position: absolute;
  margin-left: -271px;
  margin-top: 100px;
  z-index: 1;
}

.short-post {
  margin-top: -15px;
  position: absolute;
  margin-left: -126px;
  z-index: 2;
}

.tall-post {
  margin-top: -24px;
  position: absolute;
}

.iron-posts {
  margin-top: -26px;
  margin-left: -120px;
  position: absolute;
  z-index: 3;
}

.fascia {
  position: absolute;
  margin-top: 253px;
  margin-left: -321.5px;
  z-index: 1;
}

.skirt {
  position: absolute;
  margin-left: -128px;
  margin-top: 149px;
  z-index: 3;
}

.rail {
  position: absolute;
  margin-left: -106px;
  margin-top: -10px;
  z-index: 2;
}

.pyramid {
  position: absolute;
  margin-left: -129px;
  margin-top: -28px;
  z-index: 2;
}

.none {
  display: none;
}

.flat {
  position: absolute;
  margin-left: -129px;
  margin-top: -24px;
  z-index: 2;
}

.options {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.option-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.option-title {
  padding: 5px;
  width: 125px;
  align-content: flex-start;
  display: flex;
}

.hidden {
  visibility: hidden;
}

.deck-title {
  margin-top: 25px;
}

.deck-options {
  margin-top: 25px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
  font-style: italic;
}

.option {
  border: 1px solid green;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top-section {
  display: flex;
  margin-bottom: -330px;
  padding-top: 15px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  margin-top: 219px;
  max-width: 1150px;
}

.fence-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
  margin-right: 350px;
}

.fence-image-options {
  display: flex;
}

.choose-color {
  text-align: -webkit-auto;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  z-index: 20;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  width: 116px;
  list-style: none;
  padding: 6px 6px;
  cursor: pointer;
  z-index: 20;
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tabs__tab--selected {
  box-shadow: 0 0 5px #106c1a;
  border-color: #106c1a;
  outline: none;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #106c1a;
  border-color: #106c1a;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  z-index: 20;
}

@media (max-width: 1000px) {
  .top-section {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    width: 70px;
    margin-left: -16px;
  }
  .fence-image-options {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -80px;
  }
  .fence-container {
    margin: 0;
    margin-left: -108px;
  }
  .logo {
    margin-right: 0px;
    margin-left: 0px;
  }
  .fence-options {
    margin-top: -100px;
    margin-bottom: 133px;
    z-index: 5;
  }
  .options {
    margin-top: 10px;
  }
  .react-tabs__tab-list {
    font-size: 0.8rem;
  }
  .tab-container {
    padding-bottom: 20px;
  }
  .legend {
    font-weight: normal;
  }
  .legend-item {
    margin: 0px 4px;
    font-size: 0.8rem;
    width: 68px;
  }

  .legend-item2 {
    margin: 0px 21.4px;
    width: 43px;
  }

  .legend-item3 {
    margin: 0px 52px;
    width: 68px;
  }

  .legend-item4 {
    margin: 0px 15.5px;
    width: 68px;
  }

  .legend-item5 {
    margin: 0px 30px;
    width: 76px;
  }
}

@media (max-width: 768px) {
  .top-section {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    width: 70px;
    margin-left: -16px;
  }
  .fence-image-options {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -80px;
  }
  .fence-container {
    margin: 0;
    margin-left: 60px;
  }
  .logo {
    margin-right: 0px;
    margin-left: 0px;
  }
  .fence-options {
    margin-top: -100px;
    margin-bottom: 133px;
    z-index: 5;
  }
  .options {
    margin-top: 10px;
  }
  .react-tabs__tab-list {
    font-size: 0.8rem;
  }
  .tab-container {
    padding-bottom: 20px;
  }
  .react-tabs__tab-list {
    width: 500px;
  }
  .legend {
    font-weight: normal;
  }

  .legend-item {
    margin: 0px 7.5px;
    font-size: 0.5rem;
    width: 40px;
  }

  .legend-item2 {
    margin: 0px 9.4px;
    width: 43px;
  }

  .legend-item3 {
    margin: 0px 29px;
    width: 68px;
  }

  .legend-item4 {
    margin: 0px 2.5px;
    width: 68px;
  }

  .legend-item5 {
    margin: 0px 13px;
    width: 76px;
  }
}
